<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola causa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola causa </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Esta es mi primera aplicacion</strong>
    <p>Benz Utani <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">facebook</a></p>
  <h1>
    <li>uuu</li>
    <li>aaa</li>
  </h1>
  </div>
</ion-content>
